@media (max-width: 1360px) {
  .header {
    padding: 2rem 5rem 0 5rem;
  }

  .section-1-main {
    padding: 5rem 5rem 0 5rem;
  }

  .section-1-content h2 {
    font-size: 4rem;
    line-height: 5rem;
  }

  .section-1-content h1 {
    font-size: 4.5rem;
    line-height: 5rem;
  }

  .section-1-content p {
    font-size: 1rem;
    line-height: 1.7rem;
  }

  .section-1-img img {
    width: 80%;
    margin-left: 5rem;
  }

  .section-1-btn {
    width: 10rem;
    height: 3rem;
  }
}

@media (max-width: 1140px) {
  .section-1-content h2 {
    font-size: 3rem;
    line-height: 4rem;
  }
  .section-1-content h1 {
    font-size: 3.5rem;
    line-height: 4rem;
  }
  .section-1-content p {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 940px) {
  body {
    overflow-x: hidden;
  }
  .header {
    padding: 2rem 3.5rem 0 3.5rem;
  }
  .section-1-main {
    grid-template-columns: 1fr 0.5fr;
  }
  .section-1-img img {
    width: 150%;
  }

  .section-1-main {
    padding: 3rem 3.5rem 0 3.5rem;
  }

  .section-1-content h2 {
    font-size: 3.5rem;
    line-height: 4rem;
  }

  .section-1-content h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

  .section-1-content p {
    font-size: 1rem;
    line-height: 1.7rem;
  }
}

@media (max-width: 790px) {
  .header {
    padding: 2rem 5rem 0 5rem;
  }
  .section-1-main {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 0;
  }

  .section-1-content h2 {
    font-size: 5rem;
    line-height: 6.5rem;
  }

  .section-1-content h1 {
    font-size: 4rem;
    line-height: 6.5rem;
  }

  .section-1-img img {
    display: none;
  }

  .section-1-btn {
    margin: 3rem 1rem;
  }
}
